{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "importOrder": [
    "^(react/(.*)$)|^(react$)|^(react-(.*)$)",
    "^(next/(.*)$)|^(next$)|^(next-(.*)$)",
    "",
    "^(redux/(.*)$)|^(redux$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/shared",
    "^@/skeletons",
    "^@/ui",
    "^@/config",
    "^@/stores",
    "^@/hooks",
    "^@/lib",
    "",
    "^[./]"
  ],
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@ianvs/prettier-plugin-sort-imports"
  ]
}
